@charset "UTF-8";

@import url("/fonts/source-code-pro/source-code-variable.css");

/* 
 * https://jgthms.com/web-design-in-4-minutes/
 * https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41 
*/

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

/* @font-face {
    font-family: "sourcecode";
    src: url("/fonts/source-code-pro/OTF/SourceCodePro-Regular.otf");
    font-weight: normal;
    font-style: normal
} */

body {
    font-family: "Source Code Variable";
}

a {
    color: green
}


