@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');


div {
  max-width: '500px';
}

body {
  font-family: 'Roboto Mono', monospace;  
  font-size: 100%;
  /* font-weight: 500; */
  background-color: white;
  color: #111;
  /* width: 90%; */
  min-width: 400px;
  /* max-width: 1000px; */
  min-height: 200px;
  padding: 1em;
  /* margin: 5% 5% 5% 5%; */
  border: thin solid gray;
  border-radius: 5px;
  display: block;
}

a:link    { color: blue; text-decoration: underline;      }
a:hover   { color: rgb(255, 196, 0); text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }